html {
    box-sizing: border-box;
    background: white;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

input {
    width: 100%;
    padding: 20px;
}

.column {
    align-items: left;
    flex-wrap: wrap;
    text-align: left;
    border-radius: 0px;
    width: 50%;
}

.columns {
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.h1 {
    text-align: center;
    width: 100%;
}

.div {
    column-count: 2;
}

.search-form {
    max-width: 400px;
}

#mapid {
    height: 400px;
    max-width: 400px;
}

.suggestions {
    margin: 0;
    max-width: 400px;
    padding: 0;
    position: fixed;
    font-family: "Lucida Console", "Courier New", monospace;
    /*perspective: 20px;*/
}

span.population {
    font-size: 15px;
}

.hl {
    background: grey;
}