* .name {
    text-transform: capitalize;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgb(240, 145, 145);
}

.sections {
    display: flex;
    flex: auto;
    justify-content: space-around;
    flex-flow: row wrap;
}

.sections .section {
    flex: auto;
    padding: 10px;
    max-width: 400px;
}

#mapid {
    height: 500px;
    min-width: 300px;
}

#searchForm {
    max-width: 400px;
}