html {
    box-sizing: border-box;
    background: white;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

input {
    width: 100%;
    padding: 20px;
}

.h1 {
    text-align: center;
    border: 1px solid #D6D9DC;
    background-color: #e9db60;
    border-radius: 3px;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
}

.search-form {
    max-width: 400px;
    margin: 50px auto;
}

.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Lucida Console", "Courier New", monospace;
    /*perspective: 20px;*/
}

span.population {
    font-size: 15px;
}

.hl {
    background: grey;
}